### Gradle ###
.gradle/
build/
local.properties

### Kotlin ###
.kotlin/

### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### iOS ###
iosApp/Pods/
*.xcuserdata

### Mac OS ###
.DS_Store
