### Gradle ###
.gradle/
build/
local.properties

### Kotlin ###
.kotlin/

### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS CODE ###
.vscode/

### iOS ###
iosApp/Pods/
*.xcuserdata

### Mac OS ###
.DS_Store

### Generated fonts (copied from /fonts/ during build) ###
webApp/src/wasmJsMain/resources/fonts/
