.home {
  &__title {
    margin-bottom: 12px;
  }

  &__lang-btn {
    font-size: 12px;
    margin-bottom: 12px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
      border-radius: 4px;
    }
  }

  &__list-img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 4px;
  }
}
