.spell-modal__row3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  align-items: end;
}

.spell-modal__row4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 10px;
  align-items: end;
}

.spell-modal__row5 {
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  gap: 10px;
  align-items: end;
}

.spell-modal__cb-col {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.spell-modal__components {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto 1fr;
  gap: 12px;
  align-items: end;

  > label {
    padding-bottom: 6px;
  }
}

.spell-modal__range-col {
  display: flex;
  flex-direction: column;

  > .spell-modal__range-inputs {
    display: flex;
    gap: 6px;
    align-items: stretch;

    input { flex: 1; }
    button { flex: 0 0 auto; padding: 0 4px; }
  }
}

.spell-modal__inline-row {
  display: flex;
  gap: 16px;
  align-items: end;
  min-height: 48px;

  > label {
    padding-bottom: 5px;
  }
}

.spell-modal__inline-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  flex: 1;
  align-items: end;
}
